body{
background: black;

}
.inicio {
    text-align: center;
    font: Sans-Serif;
    font-size: 125%;
    color: white;

}
#texto {
    text-align: center;
    font: bold;
    font-size: 50%;
    color: white;
}

#video {
    margin-left:auto;
	margin-right:auto;
	display: block;
	clear: both;

}
#titulo{
    color: white;
    text-align: center;
    font-size: 125%;
}