<<<<<<< HEAD

=======
>>>>>>> a874992a0aa9531dc1a36b9e771569199188bb74
body{
background: black;

}
.inicio {
    text-align: center;
    font: Sans-Serif;
    font-size: 125%;
    color: white;

}
#texto {
    text-align: center;
    font: bold;
    font-size: 50%;
    color: white;
}

#video {
    margin-left:auto;
	margin-right:auto;
	display: block;
	clear: both;

}
#titulo{
    color: white;
    text-align: center;
    font-size: 125%;
<<<<<<< HEAD
}

/*css da pagina 2
=======
}
>>>>>>> a874992a0aa9531dc1a36b9e771569199188bb74
